body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

body{
    display: grid;
    grid-template-rows: 15% 1fr 4%;
}

#separacoes1{
    grid-row: 1/2;
    background-color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    padding: 1%;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

#separacoes1 p{
    font-size: x-large;
    margin-right: -3
}

#separacoes1 img{
    width: 20%;
    height: auto;
}

#separacoes1::after{
    content: "";
    width: 100%;
    left: 0px;
    position: absolute;
    top: 15%;
    height: 0.3%;
    background-color: rgba(255, 0, 0, 0.6);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.btn-nav{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 300 !important;
    border-radius: 7px;
    padding: 0.8%;
    border: 0;
}

.btn-nav:hover{
    cursor: pointer;
}

.btns-nav{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 22%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    transition: 2s ease;
}

#btn-nav1{
    width: 40%;
    height: 63%;
    background-color: white;
    color: red;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

#btn-nav2{
    width: 45%;
    height: 75%;
    background-color: red;
    color: white;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

#btn-nav2:hover{
    transform: scale(1.02);
    transition: ease 1s;
    background-color: white;
    color: red;
}

#btn-nav1:hover{
    transform: scale(1.05);
    transition: ease 1s;
    background-color: red;
    color: white;
}

#logo:hover{
    transform: rotate(360deg);
    transition: 2s ease;
}

#separacoes2{
    grid-row: 2/3;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    background: url("../../Imagens/fundo.png");
    background-size: cover;
    background-position:center;
    background-size: 100%;
    align-items: center;
    display: flex;
    height: 100%;
    margin-bottom: 0px;
}

.cadastro{
    padding-top: 2%;
    gap: 10%;
    display: flex;
    height: 88%;
    z-index: 2;
    width: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: center;
}

.cadastro form{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding-left: 10%;
}

.cadastro form button{
    margin-top: 10%;
    width: 50%;
    min-height: 50px;
    height: 10%;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    justify-self: center;
    background-color: red;
    color: white;
    align-self: center;
    border-radius: 10px;
    border: 0;
    margin-right: 15%;
    margin-bottom: 4%;
}

.cadastro form button:hover{
    transform: scale(1.02);
    background-color: white;
    color: red;
    transition: ease 0.6s;
}

.input-cdt{
    margin-bottom: 5px;
    width: 85%;
    min-height: 30px;
    height: 14%;
    border-radius: 2px;
    border: 0;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    transition: ease 2s;
}

.input-cdt:focus{
    outline: 2px solid red;
    transition: ease 0s !important;
}

.texto-cadastro{
    font-size: x-large;
    margin-bottom: 10px;
}

.texto-cadastro{
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-cadastro::after{
    content: "";
    width: 24%;
    left: 38%;
    position: absolute;
    top: 27%;
    height: 0.2%;
    background-color: rgba(255, 0, 0, 0.6);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#extras-cdt{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-right: 15% !important;
    gap: 10%;
}


#extras-cdt a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#extras-cdt a:hover{
    color: red;
    text-decoration: underline;
    transition: ease 0.5s;
}

.error-msg{
    color: red;
    font-size: larger;
    justify-self: center;;
}



 /* ======================  */
 /* ======================  */
 /* ======================  */

#separacoes3{
    grid-row: 3;
    background-color: rgba(253, 255, 254, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#separacoes3::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0.3%;
    background-color: rgba(255, 0, 0, 0.6);
    bottom: 4%;
}

.ios {
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.mulish{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}